
body {
    margin: 30px;
    padding: 30px;
}
.blog-post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.blog-post {
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post-img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .8rem;
}

.blog-post-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 254, .8), rgba(0, 242, 254, .8));
    box-shadow: .2rem .2rem .7rem 1px rgba(0, 0, 0, .5);
    border-radius: .8rem;
}

.blog-post-date span {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
    font-size: 1.6rem;
    margin: .5rem 0;
}

.blog-post-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: aqua;
}

.blog-post-text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
}

.blog-post-link {
    display: inline-block;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: .8rem;
}

.blog-post-link:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post-img {
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post-img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}