

:root {
    --nav-width: 92px;
    --first-color: #0c5df4;
    --bg-color: #12192c;
    --sub-color:#B6cefc;
    --white-color: #fff;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --z-index: 100;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav-logo {
    color: var(--white-color);
    font-weight: 600;
    margin-left: 1rem;
}

.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav-link:hover{
    background-color: var(--first-color);
}

.nav-icon {
    font-size: 1.25rem;
}

.nav-name {
    font-size: var(--small-font-size);
}

.expander {
    width: calc(var(--nav-width) + 9.25rem);
}

.active {
    background-color: var(--first-color);
}

.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse-link {
    justify-self: flex-end;
    transition: .5s;
}

.collapse-menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse-sublink {
    color: var(--sub-color);
    font-size: var(--small-font-size);
}

.collapse-sublink:hover {
    color: white;
}

.showCollapse {
    display: block;
}

.rotate {
    transform: rotate(180deg);
    transition: .5s;
}



